├── bondpad
│   ├── cdl
│   │   └── bondpad_70x70.cdl
│   ├── gds
│   │   └── bondpad_70x70.gds
│   ├── lef
│   │   └── bondpad_70x70.lef
│   └── verilog
│       └── bondpad_70x70.v
├── tc_clk.sv
└── tc_sram_impl.sv
