├── db
│   ├── ez130_8t_ff_1p32v_m40c.db
│   ├── ez130_8t_ss_1p08v_125c.db
│   ├── ez130_8t_tt_1p20v_25c.db
│   ├── RM_IHPSG13_1P_1024x64_c2_bm_bist_fast_1p32V_m55C.db
│   ├── RM_IHPSG13_1P_1024x64_c2_bm_bist_slow_1p08V_125C.db
│   ├── RM_IHPSG13_1P_1024x64_c2_bm_bist_typ_1p20V_25C.db
│   ├── RM_IHPSG13_1P_2048x64_c2_bm_bist_fast_1p32V_m55C.db
│   ├── RM_IHPSG13_1P_2048x64_c2_bm_bist_slow_1p08V_125C.db
│   ├── RM_IHPSG13_1P_2048x64_c2_bm_bist_typ_1p20V_25C.db
│   ├── RM_IHPSG13_1P_256x48_c2_bm_bist_fast_1p32V_m55C.db
│   ├── RM_IHPSG13_1P_256x48_c2_bm_bist_slow_1p08V_125C.db
│   ├── RM_IHPSG13_1P_256x48_c2_bm_bist_typ_1p20V_25C.db
│   ├── RM_IHPSG13_1P_256x64_c2_bm_bist_fast_1p32V_m55C.db
│   ├── RM_IHPSG13_1P_256x64_c2_bm_bist_slow_1p08V_125C.db
│   ├── RM_IHPSG13_1P_256x64_c2_bm_bist_typ_1p20V_25C.db
│   ├── RM_IHPSG13_1P_512x64_c2_bm_bist_fast_1p32V_m55C.db
│   ├── RM_IHPSG13_1P_512x64_c2_bm_bist_slow_1p08V_125C.db
│   ├── RM_IHPSG13_1P_512x64_c2_bm_bist_typ_1p20V_25C.db
│   ├── RM_IHPSG13_1P_64x64_c2_bm_bist_fast_1p32V_m55C.db
│   ├── RM_IHPSG13_1P_64x64_c2_bm_bist_slow_1p08V_125C.db
│   ├── RM_IHPSG13_1P_64x64_c2_bm_bist_typ_1p20V_25C.db
│   ├── sg13cmos5l_io_fast_1p32V_3p6V_m40C.db
│   ├── sg13cmos5l_io_fast_1p65V_3p6V_m40C.db
│   ├── sg13cmos5l_io_slow_1p08V_3p0V_125C.db
│   ├── sg13cmos5l_io_slow_1p35V_3p0V_125C.db
│   ├── sg13cmos5l_io_typ_1p2V_3p3V_25C.db
│   ├── sg13cmos5l_io_typ_1p5V_3p3V_25C.db
│   ├── sg13cmos5l_stdcell_fast_1p32V_m40C.db
│   ├── sg13cmos5l_stdcell_fast_1p65V_m40C.db
│   ├── sg13cmos5l_stdcell_slow_1p08V_125C.db
│   ├── sg13cmos5l_stdcell_slow_1p35V_125C.db
│   ├── sg13cmos5l_stdcell_typ_1p20V_25C.db
│   └── sg13cmos5l_stdcell_typ_1p50V_25C.db
├── gds
│   ├── bondpad5l_70x70.gds
│   ├── ez130_8t.gds
│   ├── RM_IHPSG13_1P_1024x64_c2_bm_bist.gds
│   ├── RM_IHPSG13_1P_2048x64_c2_bm_bist.gds
│   ├── RM_IHPSG13_1P_256x48_c2_bm_bist.gds
│   ├── RM_IHPSG13_1P_256x64_c2_bm_bist.gds
│   ├── RM_IHPSG13_1P_512x64_c2_bm_bist.gds
│   ├── RM_IHPSG13_1P_64x64_c2_bm_bist.gds
│   ├── sg13cmos5l_io.gds
│   └── sg13cmos5l_stdcell.gds
├── lef
│   ├── bondpad5l_70x70.lef
│   ├── ez130_8t.lef
│   ├── ez130_cmos5l_tech.lef
│   ├── ez130_tech.lef
│   ├── RM_IHPSG13_1P_1024x64_c2_bm_bist.lef
│   ├── RM_IHPSG13_1P_2048x64_c2_bm_bist.lef
│   ├── RM_IHPSG13_1P_256x48_c2_bm_bist.lef
│   ├── RM_IHPSG13_1P_256x64_c2_bm_bist.lef
│   ├── RM_IHPSG13_1P_512x64_c2_bm_bist.lef
│   ├── RM_IHPSG13_1P_64x64_c2_bm_bist.lef
│   ├── sg13cmos5l_io.lef
│   ├── sg13cmos5l_stdcell.lef
│   ├── sg13cmos5l_tech.lef
│   └── sg13cmos5l_tech.lef.2026-03-29-11:45:08
├── lib
│   ├── ez130_8t_ff_1p32v_m40c.lib
│   ├── ez130_8t_ss_1p08v_125c.lib
│   ├── ez130_8t_tt_1p20v_25c.lib
│   ├── RM_IHPSG13_1P_1024x64_c2_bm_bist_fast_1p32V_m55C.lib
│   ├── RM_IHPSG13_1P_1024x64_c2_bm_bist_slow_1p08V_125C.lib
│   ├── RM_IHPSG13_1P_1024x64_c2_bm_bist_typ_1p20V_25C.lib
│   ├── RM_IHPSG13_1P_2048x64_c2_bm_bist_fast_1p32V_m55C.lib
│   ├── RM_IHPSG13_1P_2048x64_c2_bm_bist_slow_1p08V_125C.lib
│   ├── RM_IHPSG13_1P_2048x64_c2_bm_bist_typ_1p20V_25C.lib
│   ├── RM_IHPSG13_1P_256x48_c2_bm_bist_fast_1p32V_m55C.lib
│   ├── RM_IHPSG13_1P_256x48_c2_bm_bist_slow_1p08V_125C.lib
│   ├── RM_IHPSG13_1P_256x48_c2_bm_bist_typ_1p20V_25C.lib
│   ├── RM_IHPSG13_1P_256x64_c2_bm_bist_fast_1p32V_m55C.lib
│   ├── RM_IHPSG13_1P_256x64_c2_bm_bist_slow_1p08V_125C.lib
│   ├── RM_IHPSG13_1P_256x64_c2_bm_bist_typ_1p20V_25C.lib
│   ├── RM_IHPSG13_1P_512x64_c2_bm_bist_fast_1p32V_m55C.lib
│   ├── RM_IHPSG13_1P_512x64_c2_bm_bist_slow_1p08V_125C.lib
│   ├── RM_IHPSG13_1P_512x64_c2_bm_bist_typ_1p20V_25C.lib
│   ├── RM_IHPSG13_1P_64x64_c2_bm_bist_fast_1p32V_m55C.lib
│   ├── RM_IHPSG13_1P_64x64_c2_bm_bist_slow_1p08V_125C.lib
│   ├── RM_IHPSG13_1P_64x64_c2_bm_bist_typ_1p20V_25C.lib
│   ├── sg13cmos5l_io_dummy.lib
│   ├── sg13cmos5l_io_fast_1p32V_3p6V_m40C.lib
│   ├── sg13cmos5l_io_fast_1p65V_3p6V_m40C.lib
│   ├── sg13cmos5l_io_slow_1p08V_3p0V_125C.lib
│   ├── sg13cmos5l_io_slow_1p35V_3p0V_125C.lib
│   ├── sg13cmos5l_io_typ_1p2V_3p3V_25C.lib
│   ├── sg13cmos5l_io_typ_1p5V_3p3V_25C.lib
│   ├── sg13cmos5l_stdcell_fast_1p32V_m40C.lib
│   ├── sg13cmos5l_stdcell_fast_1p65V_m40C.lib
│   ├── sg13cmos5l_stdcell_slow_1p08V_125C.lib
│   ├── sg13cmos5l_stdcell_slow_1p35V_125C.lib
│   ├── sg13cmos5l_stdcell_typ_1p20V_25C.lib
│   └── sg13cmos5l_stdcell_typ_1p50V_25C.lib
└── verilog
    ├── ez130_8t.v
    ├── RM_IHPSG13_1P_1024x64_c2_bm_bist.v
    ├── RM_IHPSG13_1P_2048x64_c2_bm_bist.v
    ├── RM_IHPSG13_1P_256x48_c2_bm_bist.v
    ├── RM_IHPSG13_1P_256x64_c2_bm_bist.v
    ├── RM_IHPSG13_1P_512x64_c2_bm_bist.v
    ├── RM_IHPSG13_1P_64x64_c2_bm_bist.v
    ├── RM_IHPSG13_1P_core_behavioral_bm_bist.v
    ├── sg13cmos5l_io.v
    └── sg13cmos5l_stdcell.v
